@charset "UTF-8";

@font-face
{ 
	font-family: 'WebFont';
	src: url('./florence-regular-webfont.eot');
	src: url('./florence-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('./florence-regular-webfont.woff') format('woff'),
	url('./florence-regular-webfont.ttf') format('truetype'),
	url('./florence-regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'headline_onehplhs';
    src: url('headoh__-webfont.eot');
    src: url('headoh__-webfont.eot?#iefix') format('embedded-opentype'),
         url('headoh__-webfont.woff2') format('woff2'),
         url('headoh__-webfont.woff') format('woff'),
         url('headoh__-webfont.ttf') format('truetype'),
         url('headoh__-webfont.svg#headline_onehplhs') format('svg');
    font-weight: normal;
    font-style: normal;
}

body 
{ 
	font-family: Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4
{
	font-family: 'WebFont', Arial, sans-serif;
	letter-spacing:0.0625em;
	font-weight:normal;
}

h1, h2, h4
{	 
	text-transform: uppercase;
}

h1, h2, h4
{
	color:#e04e5c;
}

h3
{
	color:#155D46;
}

hr
{
	display:block;
	height:1px;
	border-top:1px solid #b1ccbb;
	margin-top:-1%;
}

.tahoma
{
	font-family: Tahoma, Arial, sans-serif;
	color:black;
	text-transform: none;
}

header
{
	margin-left:2%;
	padding-right:2%;
	margin-top:3.5%;
}

header ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li
{
	padding-right:0; 
	padding-left:0; 
	margin-right:0; 
	margin-left:0; 
	padding-top:1%;
	padding-bottom:1%;
	border-right:1px solid #155D46;
}

#menu
{
	background-color:#e2ece6;
	margin-left:0;
	margin-right:0;
	padding:0;
	border-radius: 10px;
}

.navbar
{
	margin-top:1%;
	margin-bottom:1%;
	text-align:center;
	font-family: 'WebFont', Arial, sans-serif;
	font-size:140%;
}

.navbar a
{
	text-transform: uppercase;
	color:#155D46;
}

.navbar li li a
{
	text-transform: none;
	font-size:140%;

}

.navbar li li
{
	border-right:none;
}

.navbar li.last
{
	border-right:none;
}


.navbar a:hover, .navbar a:visited
{
	color:#155D46;
	text-decoration:underline;
}

.navbar a:hover
{
	text-decoration:underline;
}

.navbar .dropdown-menu a:visited, .navbar .dropdown-menu a, .navbar .dropdown-menu a:hover
{
	color:black;
}

a.currentPage
{
	text-decoration: underline;
}

article a, article a:hover, article a:visited
{
	color:#155D46;
	font-family: 'WebFont', Arial, sans-serif; 
}

article p
{
	margin-top:2%;
	margin-bottom:2%;
}

article p a, article table a
{
	font-size:140%;
}

article .col-md-4
{
	padding-right:5px;
	padding-left:5px;
}

.no-padding
{
	padding:0;
}

.panel-body
{
	background-color:#f9fcfa;
	text-align:center;
	padding-right:5px;
	padding-left:5px;
}

#boxes .panel-body
{
	min-height:380px;
}

#boxes
{
	margin-top:2%;
	margin-bottom:2%;	
}

#langageSelection a
{
	color:#155D46;
	font-family: 'WebFont', Arial, sans-serif; 
	text-align:center;
	font-size:170%;
}

.paddingTop
{
	padding-top:10%;
}

.paddingBottom
{
	padding-bottom:10%;
}

#rightColumn
{
	padding:1%;
	text-align:center;
}

#rightColumn img.img-responsive
{
	margin: 0 auto;
	padding:1%
}

.slideshow
{  
   width: 275px;  
   height: 125px;  
   overflow: hidden; 
   margin: 0 auto;   
}  
  
.slideshow ul
{   
   width: 2700%;  
   height: 125px;  
   padding:0; margin:0;  
   list-style: none;  
} 
 
.slideshow li
{  
   float: left;  
}

.logo
{
	height:32px;
	width:32px;
}

strong.numbers
{
	color:#155D46;
	font-family: 'headline_onehplhs', Arial, sans-serif;
	font-size:200%;	
	letter-spacing:0.1em;
}

.didYouKnow
{
	background-color:#f9fcfa;
	margin-top:7%;
	
}

.didYouKnowContainer
{
	text-align:center;
}

table ul
{
	list-style-type: none;
}

article img.logoTitre
{
	padding-top:25%;
}

.logosPartners
{
	margin:2%;
}

.logosPartners
{
	text-align: center;
	margin-top:2%;
	margin-bottom:2%;
}

article img.picture
{
	float:right;
	margin-left:4%;
	margin-bottom:4%;
	margin-top:8%;
	margin-bottom:8%;
}

table
{
	text-align:center;
	
}

table img
{
	padding-top:5%;
  	padding-bottom:5%;
}

img#slogan
{
	margin-top:5%;
	margin-bottom:5%;
}

#aQuoiSertMonDon
{
	text-align:left;
	color:#155d46;
}

#aQuoiSertMonDon li
{
	padding-top:1%;
	padding-bottom:1%;
}

ul.noBulletPoint
{
	list-style-type: none;
}

footer
{
	background-color:#155D46;
	color:white;
	text-align:center;
	margin-top:8%;	
}

footer ul
{
	list-style-type: none;
}

footer h1, footer h2, footer h3, footer h4
{
	color:white;
	font-size:140%;
	text-transform: uppercase;
	font-family: 'WebFont', Arial, sans-serif;
}

footer a, footer a:visited
{ 
    color:white;
	text-decoration:none;
}

footer a:hover
{
	color:white;
}